@keyframes imageAnimation { 
    0% { opacity: 0; animation-timing-function: ease-in; transform: scale(1.05);}
    6% { opacity: 1; animation-timing-function: ease-out; transform: scale(1.1);}
    13% { opacity: 1; transform: scale(1.15);}
    25% { opacity: 0; }
    100% { opacity: 0; }
}

@keyframes first-image {
    0% {
        opacity: 0;
        transform: scale(1.05);
        animation-timing-function: ease-in;
    }
    6% {
        opacity: 1;
        transform: scale(1.05);
    }
    15% {
        opacity: 1;
        transform: scale(1.1);
    }

    27% {
        opacity: 0;
        animation-timing-function: ease-out;
        transform: scale(1.15);
    }
}


.image-slideshow, 
.image-slideshow:after {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: -1; 
}

.image-slideshow:after {
    content: '';
    background: transparent linear-gradient(to right, rgba(28, 116, 187, .40), rgba(255,255,255,0) 100%);
}

.image-slideshow li span {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    opacity: 0;
    z-index: -1;
    animation: imageAnimation 80s linear infinite 0s;
    overflow-x: hidden;
}

#image-1 {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    opacity: 0;
    z-index: -1;
    overflow-x: hidden;
    animation: first-image 80s linear infinite 0s;
}

.image-slideshow #image-1 {
    background-image: url(./Responsive-Club-Website/Resources/Images/Background-transitions/Brentwood-IceRink.jpeg);

}

.image-slideshow li:nth-child(2) span {
    background-image: url(./Responsive-Club-Website/Resources/Images/Background-transitions/ice-ice-rink-background-4022209.jpg);
    animation-delay: 16s;  
}

.image-slideshow li:nth-child(3) span {
    background-image: url(./Responsive-Club-Website/Resources/Images/Background-transitions/figure-skating-runner-figure-skater-3198861.jpg);
    animation-delay: 24s;
}

.image-slideshow li:nth-child(4) span {
    background-image: url(./Responsive-Club-Website/Resources/Images/Background-transitions/share-athlete-competition-3143765-e1657585317450.jpg);
    animation-delay: 32s; 
}

.image-slideshow li:nth-child(5) span {
    background-image: url(./Responsive-Club-Website/Resources/Images/Background-transitions/skates-figure-skating-artificial-ice-2176562.jpg);
    animation-delay: 40s;
}

.image-slideshow li:nth-child(6) span {
    background-image: url(./Responsive-Club-Website/Resources/Images/Background-transitions/winter-cold-surface-2054297.jpg);
    animation-delay: 48s; 
}

.image-slideshow li:nth-child(7) span {
    background-image: url(./Responsive-Club-Website/Resources/Images/Background-transitions/skates-figure-skating-artificial-ice-4199003.jpg);
    animation-delay: 56s;
}

.image-slideshow li:nth-child(8) span {
    background-image: url(./Responsive-Club-Websitee/Resources/Images/Background-transitions/skates-figure-skating-ride-2001797.jpg);
    animation-delay: 64s;  
}

.image-slideshow li:nth-child(9) span {
    background-image: url(./Responsive-Club-Website/Resources/Images/Background-transitions/home_history.jpg);
    animation-delay: 72s;
}


