/* Get Started Now */

.get-started-now-container {
    padding: 1rem;
}

.get-started-content {
    position: relative;
    margin: 0 auto;
    display: flex;
    max-width: 70rem;
    background-color: #1c74bb;
    box-shadow: 0px 0px .75rem rgba(0, 0, 0, 0.25);
}

.get-started-now {
    max-width: 37%;
}

.ready-to-join {
    max-width: 70%;
}

.top-section {
    align-content: flex-start;
    align-items: flex-start;
    color:white;
    max-width: 100%;
    background-color: #1c74bb;
    margin: 0 auto;
    padding: 3.125rem;
}

.bottom-section {
    align-content: flex-start;
    align-items: flex-start;
    color:white;
    max-width: 100%;
    background-color: #1c74bb;
    margin: 0 ;
    padding: 3.125rem 12.5rem 3.125rem 3.125rem;
    box-shadow: -.125rem 0px .5rem rgba(0, 0, 0, 0.25);
    
}

.get-started-now h2 {
    font-size: 2.5rem;
    letter-spacing: .0625rem;
    margin-bottom: 2rem;
    line-height: 3rem;
}

.get-started-now p {
    line-height: 1.8rem;
}

.ready-to-join h2 {
    letter-spacing: .0625rem;
    font-size: 2rem;
    margin-bottom: 2rem;
}

.ready-to-join ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    list-style-type: none;
    padding: 0;
    line-height: 1.8rem;

}

.ready-to-join li {
    display: flex;
    align-items: center;
}

.ready-to-join .list-item-icon {
    position: relative;
    display: flex;
    padding-right: 1.5rem;
}


.ready-to-join .list-item-icon#icon img {
    width: .85rem;
    display: inline-block;
}

.ready-to-join .list-item-text {
    align-self: center;
}

.wrap-again-container {
    width: 100%;
}

.join-button-container {
    padding-top: 1rem;
}

.button-wrap {
    box-sizing: border-box;
}

.button-link-wrap {
    display: inline-block;
    width: fit-content;
    background-color: #1c74bb;
    padding: 1rem;
    box-shadow: 0px 0px .5rem inset rgba(0, 0, 0, 0.75);
    border-radius: 5px;
    text-align: left; 

}

.button-element {
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    gap: 10px;
}

.button-text {
    display: inline-block;
    color: white;
    text-transform: uppercase;
    letter-spacing: .0625rem;
    font-size: .90rem;
    font-weight: 700;
}

.join-icon {
    min-width: 1rem;
    height: 1rem;
}

.join-icon img {
    align-self: center;
    width: 1rem;
    height: 1rem;
    object-position: bottom;
}

.button-link-wrap:hover {
    background-color: #e1c02d;
}

