
/* USFSA */

.usfsa-container { 
    margin: 0 auto;
}

.usfsa-info {
    max-width: 70rem;
    display: flex;
    flex: 2 1;
    justify-content: center;
    align-items: stretch;
    box-shadow: 0px 0px 1rem rgba(0, 0, 0, .5);
    margin: 3rem 0px;
}

/* Text */

.usfsa-info h2 {
    font-size: 2rem;
    margin: 2rem 0px;
    letter-spacing: .0625rem;
    font-family: Raleway, "Source Sans 3", sans-serif;
    font-weight: 300;
    padding-bottom: 1rem;
    border-bottom: 2px solid red;
}

.usfsa-info p:not(#tag) {
    line-height: 2rem;
}


/* Button */

.usfsa-info .button {
    position: relative;
    bottom: 0%;
    align-self: center;
    margin: 1.5rem;
    padding: .75rem;
    background-color: #1c74bb;
    color: white;
    border-radius: 5px;
    box-shadow: 0rem 0rem 1rem rgb(0, 0, 0, .5) inset;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: .0625rem;
    text-align: center;
}

.usfsa-info .button:hover {
    background-color: #e1c02d;
}

.usfsa-info .button.white:hover {
    color: white;
}

.button.white {
    background-color: white;
    color: #1c74bb;
    border-radius: 5px;
    padding: .75rem 2rem;
}



/* Member Column */

.member-usfsa, .join-club, .usfsa-testing {
    justify-content: stretch;
    min-height: 38rem;
    min-width: calc(33.333% - 5.5rem);
    padding: 2.5rem;
}

.member-usfsa {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

p#tag {
    align-self: flex-start;
    margin-bottom: 1rem;
    font-family: "Source Sans 3", sans-serif;
    font-weight: 300;
}

.member-usfsa img {
    max-width: 100%;
    margin: 1rem 0px;
}



/* Join Club Column */

.join-club {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #1c74bb;
    text-align: center;
    box-shadow: -.25rem 0px 1rem rgb(0, 0, 0, .5);
    z-index: 5;
    border: 1px solid white;
}

h2.blue {
    color: #1c74bb;
}

.usfsa-info .join-club h2 {
    margin: 0;
}

.join-club p {
    margin-bottom: 1.75rem
}

.join-club img {
    max-width: 100%;
    margin: 1rem 0px;
    margin-bottom: 1rem;
}

.join-club.white {
    color: white
}

.join-club h2 {
    padding-bottom: 2.25rem;
    border-bottom: 2px solid white;
}



/* USFSA Testing Column */

.usfsa-testing {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-self: flex-start;
    z-index: 1;
}

.usfsa-testing img {
    max-width: 100%;
    margin-top: 1rem;
}

.usfsa-testing .date-title {
    margin-bottom: .25rem;
    margin-top: 2rem;
}

.usfsa-testing .date-title.first {
    margin-top: 1rem;
}

#last-date {
    margin-bottom: 2rem;
}


/* USFASA Image and Button Container */

.img-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.member-usfsa .button-container {
    display: flex;
    align-items: center;
    justify-content: center;
}