
/* Form Styling */

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    margin: 2rem auto;
    padding: 1rem;
    padding-bottom: 4rem;
    border-radius: 5px;
    background-color: rgba(25, 42, 81, .5);
    border: 1px solid #8B939C;

}

form {
    width: 70%;
}


input[type=text], textarea {
    width: 100%;
    color: #8B939C;
    padding: 5px;


}

input[type=submit] {
    width: 100%;
    background-color: #E54F6D;
    color: white;
    border: none;
    padding: 5px 10px;
    margin: 0 auto;
    margin-left: .4rem;
    cursor: pointer;
    
}