@font-face {
    font-family: "Sans Expanded";
    src: url(/Resources/Fonts/EncodeSansExpanded-Regular.ttf) format('typeface');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#logo {
    height: 50px;
    width: 50px;
    z-index: 10;
    background-color: #F4EDED;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 1em;
}

header a {
    text-decoration: none;
    color: #161B33;
}

body {
    background-color: #161B33; 
    color: #161B33;
}

.header-border {
    background-color: #161B33;
    border-bottom: 5px solid #CD533B;
    padding: 30px;
    margin-bottom: 30px;

}

.container {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
}

/*#circle1, #circle2, #circle3 {
    display: inline;
    background-color: hotpink;
    border-radius: 50%;
    width: 150px;
    height: 50px;
}

#circle1 {
    position: absolute;
    left: 100px;
}*/


header {
    order: 1;
    padding: 50px;
    margin: 0px 40px;
    background-color: #CD533B;
    border: 10px solid #161B33;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;

}

header h1 {
    background-color: #F4EDED;
    border: 4px dashed #556F7A;;
    letter-spacing: 5px;
    border-radius: 10px;
    text-align: center;
    font-family: "Abril Fatface";
    font-size: 60px;
    overflow: auto;
}


nav {
    order: 4;
    text-align: center;
    background-color: #CD533B;
    border-top: 5px solid #161B33;
    padding: 20px;
    margin: 30px 40px;
    margin-top: 0px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

nav a {
    text-decoration: none;
    color: #161B33;
}



/*#circle1:hover {
    color: #F4EDED;
    animation: first-one 1s infinite ease-in-out;
    animation-direction: normal;
}*/

nav h3:hover {
    background-color: #CD533B;
    border: 3px dashed #F4EDED; 
}

nav a:active {
    color:#F4EDED;
}

nav h3:active {
    border: 3px solid #F4EDED;
}

/*@keyframes first-one{
    0% {
        border: 3px solid rgba(22, 27, 51, 100%);
        background-color: rgba(255,255,255,0);
        border-radius: 50%;
        color: #F4EDED;
        padding: 0px;
    }
    100% {
        border: 10px solid rgba(22, 27, 51, 0);
        background-color: rgba(255,255,255,0);
        padding: 15px;
        border-radius: 50%;
    }
}*/

nav h3 {
    background-color: #F4EDED; 
    border-radius: 10px;
    display: inline;
    padding: 0px 20px;
    margin: 0 40px;
    border: 3px dashed #CD533B; 
    font-family: 'Sans Expanded', sans-serif;
}

.image-container {
    display: flex;
    order: 2;
    margin: 0 40px;
}

.intro-text {
    position: absolute;
    margin: 0, 40px;
    right: 10%;
    top: 400px;
    background-color: rgba(85, 111, 122, 0.844);
    border-radius: 10px;
    padding-top: 1px;
    width: auto;
    max-width: 300px;
}

img {
    position: relative;
    z-index: -10;
    width: 100%;
    margin: 0 auto;
    border: 10px solid #161B33;
    border-top: none;
    border-bottom: none;
    opacity: 100%;
    -webkit-mask-image:-webkit-gradient(linear, left top, right top, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
    mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
}

.intro-text p {
    color: white;
    padding: 20px;
    margin: 10px auto;
    font-family: 'Sans Expanded', sans-serif;
    line-height: 1.4em;
    border-radius: 10px;
}

@media screen and (max-width: 730px){
    div.intro-text {
        display: none;
    }
   
}

@media screen and (max-width: 800px){
    h3 {
        font-size: 16px;
    }
    nav h3 {
        margin: 0 auto;
    }
}

footer {
    background-color: #161B33;
    border-top: 4px solid #CD533B;
    padding: 30px;
}