@media only screen and (min-width: 1006px) and (max-width: 1225px) {
    
    .color-block {
        width: 10rem;
        height: 10rem;
    }

    .color-content {
        width: 100%;
        border-radius: 0px;
    }

    p {
        font-size: 14px;
        width: 10rem
    }

    #block {
        justify-content: center;
        align-items: center;
    }
    
    .color-list{
        justify-content: center;
        align-items: center;
    }

}

@media only screen and (max-width: 1005px) {
    
    .color-content {
        width: 100%;
        border-radius: 0px;
    }

    .color-block {
        width: 8rem;
        height: 8rem;
    }

    p {
        font-size: 14px;
        width: 8rem
    }


    #block {
        justify-content: center;
        align-items: center;
    }
    
    .color-list{
        justify-content: center;
        align-items: center;
    }

    footer {
        display: none;
    }

}

@media only screen and (max-width: 515px) {
    body {
        min-height: 200rem;
    }
   
    .color-content {
        padding-top: 1rem;
        width: 100%;
        border-radius: 0px;
        background-clip: padding-box;
    }

    .color-block {
        width: 3rem;
        height: 8rem;
    }

    p {
        font-size: 12px;
        width: 6rem;
    }


    #block {
        justify-content: center;
        align-items: center;
        border: 0.1875rem dashed #CD533B;

    }
    
    .color-list{
        justify-content: center;
        align-items: center;
    }

    footer {
        display: none;
        padding: 1.75rem;
    }

}

/* Focus on Links */
@media only screen and (max-width: 785px) {
    .main-nav {
        width: 80%;
    }
    nav p {
        font-size: 14px;
        width: 8rem;
    }
}