/* Fonts */

@font-face {
    font-family: "Alex Brush";
    src: url('z_Resources/Font/AlexBrush-Regular.ttf') format('truetype');
}

html {
    font-size: 16px;
}

body {
    font-family: "SUSE";
    background-color: black;
    color: white;
}

/* Main Title */

header {
    background-image: url();
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    color: white;
}

.title-display {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.title { 
    max-width: 100%; 
}

.title h1 {
    color: white;
    font-family: "Alex Brush", "SUSE", sans-serif;
    font-size: 90px;  
}


/* Navigation */

nav {
    position: sticky;
    top: 0px;
    display: flex;
    justify-content: end;
    align-items: center;
    height: 4rem;
    background-color: #192A51;
    border-bottom: 3px solid #8B939C;
    box-shadow: 0px 5px 15px black;
    z-index: 5;

}

#links {
    width: 50%;
    display: flex;
    justify-content: space-around;
}

#links a {
    color: white;
}

a:active {
    color: #E54F6D;
}

nav img {
    display: none;
}

img#pink {
    display: none;
}

#mobile {
    display: none;
}


/* Projects */

.project {
    position: relative;
    width: 100%;
    display: flex;
    margin: 14rem auto;
}

#num1 {
    margin-top: 3rem;
}

#num2 {
    flex-direction: row-reverse;
    margin: 0rem auto;
}

.all-projects {
    margin-top: 2rem;
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.project-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

}

.project-content a {
    background-color: #8B939C;
    border-radius: 5px;
    padding: .5rem 2rem;
    color: white;
}

#button {
    margin-top: 2rem; 
}

.project-title-text {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
   
}

.project-text {
    display: flex;
    flex-direction: column;
    margin: 2rem;
    padding: 2rem;
    border-radius: 10px;
    min-height: 25rem;
    background-color: #192A51;
   
}
 
h3 {
    font-size: 2.5rem;
    margin: 2rem;
    margin-top: 4rem;
}

h4 {
    margin-top: 1rem;
    font-weight: 900;
    font-size: 1.5rem;
    z-index: 1;
}

p {
    margin-top: 1rem;
    line-height: 2.3rem; 
    font-size: 1.15rem;
    text-align: justify;
    text-justify: inter-word;

}

/* Projects Image */

.project img {
    max-width: 40%;
    margin: .75rem;
    margin-left: 1.5rem;
    border: 5px solid #E54F6D;
    border-radius: 5px;
    object-fit: cover;  
}

#num1 img, #num3 img {
    border-color: #192A51;
    object-position: top;
}


/* About Section*/

.aboutme {
    margin: 3.5rem auto;

}

.about-container {
    display: flex;
    align-items: center;
    width: 100%;
}

.about-text {
    max-width: 40%;
    margin-right: 1.5rem;
    padding: 1.5rem;
    padding-top: 0px;
}

.about-text p {
    font-size: 1.25rem;
    line-height: 2rem;

}

.aboutme h3 {
    margin-left: 2rem;
    padding-left: 0px;
    
}

img#profile-image {
    max-width: 100%;
    object-fit: cover;
    object-position: center;
}



/* Skills Section */


.skills-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.allskills {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
}

.skill {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 200px;
    padding: 1rem;   
}

.skill p {
    font-size: 1.5rem;
}


#github img { 
    background-color: white;
}


.allskills img {
    width: 100px;
}

/* Footer */
footer p {
    font-size: .75rem;
    padding: .5rem;
}


/* Decorations */

.decoration-title-container {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    
}

.decoration-title {
    position: absolute;
    left: 3.5rem;
    bottom: 2.25rem;
    height: .75rem;
    width: 20%;
    background-color: #E54F6D; 
    z-index: -1;
}


#decoration-box {
    position: absolute;
    bottom: 0px;
    display: flex;
    align-self: center;
    height: .75rem;
    width: 75%;
    background-color: #E54F6D; 
    z-index: 0;
    
}


/* Divider Decor */
.decoration-divider {
    position: absolute;
    bottom: -40px;
    display: flex;
    justify-content: start;
    width: 100%; 
}

.decoration-divider1 {
    height: .125rem;
    width: 60%;
    background-color: #8B939C; 
    border-radius: 5px;
}


#divider-container2 {
    bottom: -10rem;
    justify-content: end;
}

#divider2 {
    background-color: #192A51;
}


#divider-container3 {
    bottom: -60px;
    justify-content: start;
}

#divider3 {
    background-color: #E54F6D; 
}

