* {
    margin: 0;
    padding: 0;
    /*border: 1px solid black;*/
    box-sizing: border-box;
    
}

html {
    font-size: 16px;
}

body {
    background-color: #161B33;
    min-height: 140rem;
    height: 100%;
    position: relative;

}
  

/* Media */
.bg-image img {
    position: fixed;
    width: 100%;
    top: 0;
    right: 40%;
    z-index: -15;
    height: 100%;
    -webkit-mask-image:-webkit-gradient(linear, left top, right bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
    mask-image: linear-gradient(to right, rgba(0,0,0,1), rgba(0,0,0,0));
} 

#logo {
    z-index: 100;
    position: absolute;
    top: .25rem;
    cursor: pointer;
    background-image: url("./Build-a-Website-Design-System/Resources/Logo/designflux-studio-favicon-white.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 4rem;
    height: 4rem;

}

/* Fonts */
.all-font {
    position: absolute; 
    background-color: #CD533B;
    border-top-left-radius: 1.5625rem;
    border-top-right-radius: 1.5625rem;
    border: 0.3125rem solid #161B33;
    top: 10%;
    right: 4rem;
    width: 40rem;
    display: flex;
    flex-direction: column;
    justify-content: center;  
    flex-wrap: wrap;
}

.font1, .font2, .font3, .font4, .font5, .font6 {
    margin: 1.5625rem;
}

#head-title h1 {
    font-family: "Abril FatFace", serif;
    font-size: 36px;
    letter-spacing: .25rem;
    z-index: 6;
    background-color: #F4EDED;
    text-align: right;
    padding: 0.9375rem;
    border-bottom: .25rem solid #161B33;
    border-top-left-radius: 1.25rem;
    border-top-right-radius: 1.25rem;
    text-indent: 0px !important;

}

/* List Styling */

ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    list-style: inside;
    list-style-type: square;
    padding: 0;
}

li:not(nav li) {
    font-size: 18px;
    display: flex;
    align-items: center;
    line-height: 2rem;
}

.list-item-icon {
    position: relative;
    display: flex;
    padding: 1rem;
}

.list-item-icon#icon img {
    width: .85rem;
    display: inline-block;
}



/* Navigation */
.header-border {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: flex-end;
    z-index: 10;
    height: 5rem;
    width: 100%;
    background-image: linear-gradient(to right, #f4eded5c , #161B33);
    border-bottom: 0.3125rem solid #161B33;
    padding: 1.875rem;
}

nav {
    text-align: right;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.main-nav {
    display: flex;
    justify-content: space-between;
    width: 45%;
}

nav p {
    width: 100px;
    background-color: #F4EDED;
    font-size: 14px;
    border-radius: 0.625rem;
    display: inline;
    padding: 0.3125rem 1.25rem;
    margin: 0 auto; 
    font-family: 'Sans Expanded', sans-serif;
}

nav p:hover {
    background-color: #556F7A;
    border: 0.1875rem dashed white;
}

nav a {
    text-decoration: none;
    color: #161B33;
}

nav a:active {
    color:#F4EDED;
}

nav p:active {
    border: 0.1875rem solid white;
}


/* Fonts */
.all-font h3 {
    font-size: 1.875rem;
    text-decoration: underline;
    margin-bottom: 0.9375rem;
}

.font1 h3 {
    font-size: 36px;
}

.font1 {
    font-family: "Style Script", cursive;
    background-color: #F4EDED;
    margin-bottom: 1.25rem;
    margin-top: 1.5625rem;
    padding: 1.25rem;
    border: 0.1875rem dashed #161B33;
    font-weight: 300;
}

.font1 li {
    font-size: 24px;
}

.font2 {
    font-family: "Abril FatFace", serif;
    background-color: #F4EDED;
    margin-bottom: 1.25rem;
    padding: 1.25rem;
    line-height: 2em;
    border: 3px dashed #161B33;
}

.font3 {
    font-family: "IBM Plex Mono", monospace; 
    background-color: #F4EDED; 
    margin-bottom: 1.25rem;
    padding: 1.25rem;
    line-height: 1.7em;
    border: 0.1875rem dashed #161B33;
}

.font3 li {
    font-size: 20px;
}

.font4 {
    font-family: "Yanone Kaffeesatz", sans-serif; 
    background-color: #F4EDED; 
    margin-bottom: 1.25rem;
    padding: 1.25rem;
    line-height: 2em;
    border: 0.1875rem dashed #161B33;
}

.font4 li {
    font-size: 22px;
}

.font5 {
    font-family: "Playfair Display", serif;  
    background-color: #F4EDED; 
    margin-bottom: 1.25rem;
    padding: 1.25rem;
    line-height: 2em;
    border: 0.1875rem dashed #161B33;
}

.font6 {
    font-family: "Bodoni Moda";  
    background-color: #F4EDED; 
    margin-bottom: 1.25rem;
    padding: 1.25rem;
    border: 0.1875rem dashed #161B33;
}

/* Font Styles */
#bold {
    font-weight: 900;
}

#italics {
    font-style: italic;
}

.spacer {
    margin: 0;
}

footer {
    position: fixed;
    z-index: 10;
    bottom: 0px;
    width: 100%;
    background-color: #161B33;
    border-top: 0.25rem solid #556F7A;
    padding: 2.5rem;
    
}