@font-face {
    font-family: "Sans Expanded";
    src: url("./Build-a-Website-Design-System/Resources/Fonts/EncodeSansExpanded-Regular.ttf") format('typeface');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}


#logo {
    position: absolute;
    bottom: 1.5rem;
    left: 11rem;
    background-image: url("./Build-a-Website-Design-System/Resources/Logo/designflux-studio-favicon-white.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 4rem;
    height: 4rem;

}

header a {
    text-decoration: none;
    color: #161B33;
}

body {
    background-color: #161B33;
    color: #161B33;
    overflow-x: hidden;
}

.header-border {
    z-index: 10;
    max-width: 100%;
    background-color: #161B33;
    border-bottom: .3125rem solid #CD533B;
    padding: 1.875rem;
    margin-bottom: 1.875rem;

}

.container {
    z-index: 10;
    display: flex;
    max-width: 100%;
    max-width: 50rem;
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2.5rem;
}

header {
    padding: 3.125rem;
    margin: 0px auto;
    width: 50rem;
    background-color: #CD533B;
    border: .625rem solid #161B33;
    border-top-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem;

}

header h1 {
    background-color: #F4EDED;
    border: .25rem dashed #556F7A;;
    letter-spacing: .3125rem;
    border-radius: .625rem;
    text-align: center;
    font-family: "Abril Fatface";
    font-size: 3.75rem;
}


.link-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50rem;
    text-align: center;
    background-color: #CD533B;
    border-top: .3125rem solid #161B33;
    padding: 1.25rem;
    margin-top: 0px;
    border-bottom-left-radius: 1.25rem;
    border-bottom-right-radius: 1.25rem;
}

nav {
    width: 100%;

}

.all-links {
    width: 100%;
    display: flex;
    justify-content: space-around;

}

nav a {
    text-decoration: none;
    color: #161B33;
}


nav h3:hover {
    background-color: #CD533B;
    border: .1875rem dashed #F4EDED; 
}

nav a:active {
    color:#F4EDED;
}

nav h3:active {
    border: .1875rem solid #F4EDED;
}

nav h3 {
    width: 100%;
    background-color: #F4EDED; 
    border-radius: 10px;
    display: inline-block;
    padding: 0px .5rem;
    border: .1875rem dashed #CD533B; 
    font-family: 'Sans Expanded', sans-serif;
}

.image-container {
    z-index: 10;
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 50rem;
}


.intro-text {
    position: absolute;
    left: 25rem;
    top: 5rem;
    margin: 0, 2.5rem;
    background-color: rgba(85, 111, 122, 0.844);
    border-radius: .625rem;
    padding-top: .0625rem;
    width: auto;
    max-width: 18.75rem;
}

img {
    position: relative;
    z-index: -10;
    max-width: 100%;
    border: .625rem solid #161B33;
    border-top: none;
    border-bottom: none;
    opacity: 100%;
    -webkit-mask-image:-webkit-gradient(linear, left top, right top, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
    mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
}

.intro-text p {
    color: white;
    padding: 20px;
    margin: 10px auto;
    font-family: 'Sans Expanded', sans-serif;
    line-height: 1.4em;
    border-radius: 10px;
}


footer {
    max-width: 100%;
    background-color: #161B33;
    border-top: .3125rem solid #CD533B;
    padding: 1.875rem;
}

footer p {
    font-family: 'Sans Expanded';
    color: white;
    padding: .5rem;
    text-align: center;
}