* {
    margin: 0;
    padding: 0;
    font-family: lato, sans-serif;
    z-index: 10;
}

html {
    padding: 0px;
    background-color: #F9F9E0;
}

h1 { 
    text-align: center;
    padding: 30px;
  
}

/* Title of Page Tab*/
h2 {
    text-align: center;
    padding-top: 10px;
    margin: 20px;
    font-size: 24px;
    font-style: normal;
    color: #3AA6B9
    
}

/*Rounding table corners*/

table thead tr:first-child th:first-child {
    border-top-left-radius: 20px;
}

table thead tr:first-child th:last-child {
    border-top-right-radius: 20px;
    border-right: 1px solid #F9F9E0;
    border-bottom: none;
}

table tbody tr:last-child td:nth-last-child(2) {
    border-bottom: 1px solid #F9F9E0;
}

table tbody tr:last-child th:first-child {
    border-bottom-left-radius: 20px;
    border-bottom: 1px solid #F9F9E0;
}
table tbody tr:last-child td:last-child {
    border-bottom-right-radius: 20px;
    border-bottom: 1px solid #F9F9E0;
    border-right: 1px solid #F9F9E0;
}


/* Main Table*/
table {
    margin: 0 auto; 
    min-width: 500px; 
    max-width: 1500px;
    border-collapse: separate; 
    background-color: #F9F9E0;
    border-spacing: 0;
    border: 5px solid #3AA6B9;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
}

/* Table Data Contents*/
table p, ul {
    font-size: 12px;
    margin: 10px;
    line-height: 1.4em;
}

/* Table Data minus Lists*/
table p {
    display: block;
}

/* Table Lists*/
li {
    list-style-position: outside;
    margin-left: 25px;  
    font-size: 12px; 
    line-height: 1.4em;
}

/* Table Heading Cells*/
th {
    font-size: 14px;
    text-align: center;
    font-style: italic;
    color: #F9F9E0;
    background-color: #3AA6B9;
    border-top: 1px solid #F9F9E0;
    border-left: 1px solid #F9F9E0;
    border-bottom: none;
    padding: 0px 10px;
    margin: 0 auto;
}

/* Table Data Cells*/
td {
    border: 1px solid #3AA6B9; 
}

/* Top Website Name*/
#heading {
    background-color: #3AA6B9;
    color: #F9F9E0;
    font-weight: 700;
    font-size: 24px;
    font-style: italic;
    position: sticky;
    top: 0px;
    border-bottom: 10px solid #FF9EAA;
}

/* All Table Cells*/
#table-content {
    padding: 0 40px;
}

/* Need to figurseout */
#table-heading h2 {
    text-align: center;
    margin: auto 0;
    padding: 10px;
    color: #F9F9E0;
    font-style: italic;
}

/*ID to have certain text bolded*/
#bold {
    font-weight: 900;
    color: #FF9EAA;
}

/*ID to have certain text italicized*/
#italics {
    font-style: italic;
}

/*Heading of content in beginning text*/
.beginning-text h3 {
    background-color: #FF9EAA; 
    border-radius: 20px; 
    color: #F9F9E0;
    padding: 10px 10px;
    margin: 10px -20px;
    width: 130px;
    font-style: italic;
}

/*Text in beginning text*/
.beginning-text p {
    display: inline-block;
}

/*Lists in beginning text*/
.beginning-text li {
    margin-left: 0px;
}

/*All text in Beginning text*/
.beginning-text p, li {
    line-height: 1.4em;
    font-size: 14px;
}

/*The entire beginning text*/
.what-is-css, .inline, .internal, .external {
    background-color: #F9F9E0;
    border: 5px solid #3AA6B9;
    border-radius: 20px;
    padding: 20px 40px 20px 60px;
    margin: 10px 30px;
}

/*Aligning boxes Horizontally*/
.flexbox {
    display: flex;
}

.css-styles-list {
    margin: 10px 20px;
    display: flex;
}

.inline, .internal, .external {
    margin: 0px 10px;
}

/*The whole link*/
.navigation {
    text-align: center;
}

.internal ul, .inline ul {
    padding: 10px;
    width: 200px;
    border: 3px solid #FF9EAA;
    border-radius: 10px;
}

/*Text Link*/
.navigation a {
    background-color: #F9F9E0;
    border: 3px solid #3AA6B9;
    margin: 10px;
    border-radius: 20px;
    color: #FF9EAA;
    width: 130px;
    display: inline-block;
    padding: 10px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 100;
    z-index: 5;
}

a:hover {
    color: #FFD0D0;
    background-color: #FF9EAA;
    border: 3px solid #FFD0D0; 
}

a:active {
    color: #F9F9E0;
    border: 3px solid #F9F9E0;
    background-color: #3AA6B9;
}


/* Code Organization */
.indent-once {
    display: inline-block;
    padding-left: 20px;
}

.indent-twice {
    display: inline-block;
    padding-left: 40px;
}

.indent-thrice {
    display: inline-block;
    padding-left: 60px;
}



/*Background Images*/
.decoration-circle {
    border-radius: 50%;
    z-index: -1;
    position: fixed;
    top: 0%;
    left: 70%;
    background-color: #FF9EAA;
    width: 300px;
    height: 300px;
    
}

.decoration-circle2 {
    border-radius: 50%;
    z-index: -1;
    position: fixed;
    top: 65%;
    right: 85%;
    background-color: #FF9EAA;
    width: 500px;
    height: 500px;
}

.decoration-circle3 {
    border-radius: 50%;
    z-index: -1;
    position: fixed;
    top: -15%;
    left: 0%;
    background-color: #FF9EAA;
    width: 400px;
    height: 400px;  
}

.decoration-circle4 {
    border-radius: 50%;
    z-index: -1;
    position: fixed;
    top: 70%;
    right: -10%;
    background-color: #FF9EAA;
    width: 500px;
    height: 500px;
}

footer {
    background-color: #3AA6B9;
    font-style: italic;
    border-top: 10px solid #FF9EAA;
    padding: 20px 25px;
    margin-top: 20px;
    
}

/*Text in footer*/
footer #contact {
    border-radius: 20px;
    border: 3px solid #FF9EAA;
    width: 300px;
    background-color: #F9F9E0;
    color: #3AA6B9;
    padding: 10px;
    overflow: hidden;
}

